/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* Basic Reset */
/* Universal selector '*' */

* {
  margin: 0;
  padding: 0;

  /* borders and padding are no longer added to the size of box */
  box-sizing: border-box;
}

body {
  /* properties in body tag are usually inherited */

  /* Font available on google fonts */
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  /* padding is not inherited by other elements */
  padding: 30px;
}

.header {
  /* 95% of the view port height */
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.7),
      rgba(40, 180, 133, 0.7)
    ),
    url("../img/hero.jpg");
  block-size: cover;

  /* keep at top by resing page */
  background-position: top;

  position: relative;

  /* cut header image and background - more clips on https://bennettfeely.com/clippy/*/
  /* 75vh makes it shrink with the page  */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.text-box {
  /* Center box  */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  /* tirar o movimento pra cima da animação  */
  backface-visibility: hidden;

  margin-bottom: 60px;
}

.heading-primary-main {
  /* diplay block faz o objeto ocupar uma linha */
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  /* atrasa a animação */
  /* animation-delay: 3s; */
  /* repete a animação  */
  /* animation-iteration-count: 3; */
}

.heading-primary-sub {
  /* animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out; */

  animation: moveInRight 1s ease-out;
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;
}

@keyframes moveInLeft {
  0% {
    /* invisível no início */
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    /* visível no fim */
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    /* invisível no início */
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    /* visível no fim */
    opacity: 1;
    transform: translate(0);
  }
}

/* link pseudo classe */
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
}

/* hover pseudo classe - quando passa o mouse sobre o botão  */

.btn:hover {
  transform: translateY(-3px);
  /* x direction 0 || 10px down || blur 20px || color */
  box-shadow: 0 10px 20px rgba(0, 0, 0.2);
}

/* active pseudo classe - quando clica no botão  */
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0.2);
}

.btn-white {
  display: inline-block;
  background-color: #fff;
  color: #777;
}
