@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "pages/home";

@import "components/button";

@import "layouts/header";

/* link pseudo classe */
.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  /* tirar o movimento pra cima da animação  */
  backface-visibility: hidden;

  margin-bottom: 6rem;

  &--main {
    /* diplay block faz o objeto ocupar uma linha */
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    /* atrasa a animação */
    /* animation-delay: 3s; */
    /* repete a animação  */
    /* animation-iteration-count: 3; */
  }

  &--sub {
    /* animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; */

    animation: moveInRight 1s ease-out;
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
  }
}
